*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
font-family: "Barlow Semi Condensed", sans-serif;
background-color: hsl(270, 20%, 96%);
}

.container{
    height: 55rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.subcontainer{
    height: 52rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.container-color {
    background: linear-gradient(to bottom, hsl(293, 100%, 63%) , hsl(264, 100%, 61%) );
    height: 25rem;
    margin-right: 10px;
    position: absolute;
    width: 50%;
    left: 0;
    z-index: -1;
    border-bottom-right-radius: 50%;
}

.phone-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-mobile {
    background-color: hsl(270, 20%, 96%);
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 38rem;
    width: 17rem;
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 20px;
}

.container-chat{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    height: 32rem;
}

.container-profile {
    background-color: hsl(263, 22%, 27%);
    color:hsl(270, 20%, 96%);
    height: 5rem;
    padding: 5px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-image: linear-gradient(to right,hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    position: relative
}
.call-position {
    position: absolute;
    width: 150px;
    height: 1rem;
    padding: 10px;
    background-color: white;
    top: 0;
    left: 25%;
    border-radius: 0 0 10px 10px;
  
}

.profile-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.arrow-left{
padding: 8px;
}

.left-profile {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.img-profile{
    height: 35px;
    width:35px;
    border-radius: 40px;
    border: 1px solid white;
    color: white
}

.profile-description h5{
    font-size: 14px;
}

.profile-description p{
    font-size: 12px;
}

.more{
 justify-self: flex-end;
 padding-bottom: 8px;
}

.chat{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 28rem;
    overflow: auto;
    scroll-behavior: smooth;
}


.container-message-1{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.message-1{
    background-color: hsl(294, 28%, 87%);
    color: hsl(276, 55%, 52%);
    font-size: 12px;
    width: 70%;
    height: 3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    padding: 8px;
}

.container-message-2{ 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    
}

.message-2{
    background-color:hsl(0, 0%, 100%);
    color: hsl(271, 15%, 43%);
    font-size: 12px;
    width: 60%;
    height: 3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 10px;
    padding: 8px;
}

.sizing{
    height: 4rem;
}
.container-pets{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}

.image{
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
}

.message-2-b{
    background-color:hsl(0, 0%, 100%);
    color: hsl(271, 15%, 43%);
    font-size: 12px;
    width: 45%;
    height: 2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 10px;
    padding: 8px;
}

.radio-input{
    display: flex;
    justify-items: center;
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    height: 25%;
    width: 12rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    gap: 10px;
    color: hsl(0, 0%, 100%);
}

.text-radio{
    width: 65%;
    font-size: 10px;
}

.type-message{
    background-color:hsl(0, 0%, 100%);
    color: hsl(271, 15%, 43%);
    font-size: 14px;
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-btn{
    background-color: black;
    border-radius: 14px;
    padding: 8px;
    height: 1.6rem;
}

.dollar{
    font-size: 18px;
    font-weight: bold;
}

.input-message{
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    height:4vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: transparent;
    border: none;
    outline: none;
}

.container-intro{
   text-align:center;
   display: flex;
   flex-direction:column;
   gap: 12px;
   padding-left: 10px;
   padding-right: 10px;
}
.container-intro h2{
    color: hsl(271, 36%, 24%);
    font-size: 40px
}
.paragraph{
    color: hsl(270, 7%, 64%);

}

@media only screen and (min-width: 426px) {
    .subcontainer{
       display: grid;
       grid-template-columns:repeat(2, auto) ;
       height: 95vh;

    }
    .container-intro{
        justify-items: center;
        margin-top: 16rem;
        margin-bottom:16rem;
        margin-left: 3rem;
        text-align: start;
    }
}

@media only screen and (min-width: 769px){

.container{
    justify-content: center;
    justify-items: center;
    padding-top: 8rem;
}


.container-color {
    height: 47rem;
    width: 35%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.container-chat{
    height: 30rem;
    gap:8px;
}
.chat{
    height: 30rem;
}
.container-intro{
    gap: 20px;
}
.container-color-bottom{
    background:hsl(300, 7%, 94%);
    height: 50rem;
    width: 25%;
    margin-left: 10rem;
    margin-top: 10rem;
    position: absolute;
    right: 0;
    z-index: -1;
    border-top-left-radius: 60%;
    display: flex;
}

.subcontainer{
    height: 39rem;
    width: 50rem;
}

.paragraph{
    font-size: 20px;
    line-height: 1.4;
}
.container-mobile{
    height: 37rem;
}

.dollar{
    font-size: 16px;
    font-weight: bold;
} 

.img-profile{
    height: 35px;
    width:35px;
    border-radius: 40px;
}

.profile-description h5{
    font-size: 12px;
}

.profile-description p{
    font-size: 10px;
}

.message-1{
    font-size: 11px;
    width: 70%;
    height: 3rem;
}

.message-2{

    font-size: 11px;
    width: 60%;
    height: 3rem;
}

.message-2-b{
    font-size: 11px;
  
}



}